<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnEh8pZ3gXWZ8nYvtz2WlYBgmvEW9ZIu0</string>
	<key>GCM_SENDER_ID</key>
	<string>738772337489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nickelfox.BarCodeScannerProject</string>
	<key>PROJECT_ID</key>
	<string>barcode-identifier-c1f21</string>
	<key>STORAGE_BUCKET</key>
	<string>barcode-identifier-c1f21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738772337489:ios:f5d2049b1dc14175c14970</string>
</dict>
</plist>